<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
</head>
<body>
  <form action="{{ route('AuthController.register') }}" method="post">
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" value="{{ flashMessages.get('email')||''}}" />
      <p>{{ flashMessages.get('errors.email') || '' }}</p>
    </div>
    <div>
      <label for="password">password</label>
      <input type="password" name="password" value="" />
      <p>{{ flashMessages.get('errors.password') || '' }}</p>
    </div>
    <div>
      <label for="password_confirmation">Re-Enter Password</label>
      <input type="password" name="password_confirmation" />
      <p>{{ flashMessages.get('errors.password_confirmation') || '' }}</p>
    </div>
    <div>
      <label for="phone_number">Phone Number</label>
      <input type="tel" name="phone_number" />
      <p>{{ flashMessages.get('errors.phone_number') || '' }}</p>
    </div>
    <div>
      <button type="submit">Create Account</button>
    </div>
  </form>
</body>
</html>